<div>
{{#if comment.length}}
  {{#each comments as |comment|}}
    <div class='comment'>
      <div class='date-container'>
        <span class='comment-date-text'>{{formatDate comment.createdAt}}</span>
      </div>
      <div class='post-content'>
        <p class='comment-body'>{{comment.body}}</p>
      </div>
      <div class='post-footer'>
        <span></span>
        <span class='comment-user'>{{comment.user.username}}</span>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No comments found</p>
{{/if}}
</div>