<section class='create-comment-container'>
  <div class="comment-form-container">
    <form id='comment-form' class='form-body'>
      <div class='form-control'>
        <label class='label'>
          <span class='label-text'>Comment</span>
        </label>
        <textarea id='comment-body' placeholder='Type something here...'></textarea>
      </div>
    </form>
    <button id='create-comment' class='submit-content send-button'>Send</button>
  </div>
</section>

<script src='js/create-comment.js'></script>