<div class="error-card">
  <div class="error-header">
    <img src='/assets/warning.svg' alt='warning icon'>
    <h2>WARNING!</h2>
  </div>
  <p>You cannot access the dashboard unless you are logged in!</p>
</div>