<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- render the header partial -->
    {{> header }}
    <!-- render the sub layout -->
    {{{ body }}}
  </body>

</html>