<div class="sign-form">
  <div class="form-start">
    <div class="card">
      <div class="card-header">
        <h2>Sign in to your account</h2>
      </div>
      <form id="loginForm" class="form-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input id="username" type="username" placeholder="username" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input id="password" type="password" placeholder="********" required />
        </div>
        <div class="form-action">
          <button type="submit" class="submit-content :hover">Login</button>
          <a href="/signup" class="switch-sign"> Don't have an account yet?</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='js/logins.js'></script>