<div class='container'>
  <div>
    <div class='post'>
      <div class='date-container'>
        <span class='date-text'>{{formatDate post.createdAt}}</span>
      </div>
      <div class='post-content'>
        <a class='post-title'>{{post.title}}</a>
        <p class='post-body'>{{post.body}}</p>
      </div>
      <div class='post-footer'>
        <span></span>
        <span class='post-user'>{{post.user.username}}</span>
      </div>
  </div>
  {{> comment }}
  {{> createcomment }}
</div>
