<div class="sign-form">
  <div class="form-start">
    <div class="card">
      <div class="card-header">
        <h2>Create an Account</h2>
      </div>
      <form id="signupForm" class="form-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input id="username" type="username" placeholder="username" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input id="password" type="password" placeholder="********" required />
        </div>
        <div class="form-action">
          <button type="submit" class="form-button :hover">Sign Up</button>
          <a href="/login" class="switch-sign"> Already have an account?</a>
        </div>
      </form>
    </div>
  </div>
</div>